<ion-content  menu="first">
</ion-content>


<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <div class="text-white" class="d-flex justify-content-center" class="fadeIn first">
          <h4>Bem vindo Enfermeiroᵃ Chefe</h4>
        </div>
      </div>

      <div class="card-body">
        <div class="fadeIn second">
          <a class="btn btn-block btn btn-warning" data-toggle="modal" data-target="#mymodal" (click)="cadastro()">
            <i class="fas fa-user-plus fa-lg"></i><br><br>
            <span><i class="fa fa-plus-circle ani-shake"></i></span>
            <span>Cadastrar enfermeiros</span></a>
        </div>
        <div>&nbsp;</div>
        <div class="fadeIn third">
          <a class="btn btn-block btn  btn-info" data-toggle="modal" data-target="#mymodal" (click)="consultachefe()">
            <i class="fas fa-address-book fa-lg"></i> <br><br>
            <span><i class="fas fa-search ani-shake"></i>
              Consultar usuarios cadastrados</span></a>
        </div>

        <div>&nbsp;</div>
      </div>

    </div>
  </div>
</div>