<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
     
      <div class="text-white"  class="d-flex justify-content-center" >
        <div class="card-header">
            <h4>Triagem</h4>       
        </div>
      </div>

      <div class="card-body">

        <div class="input-group mb-3">

          <input type="text" id="nome" class="fadeIn first" name="nome" placeholder="Nome" />
          <input type="text" id="sobrenome" class="fadeIn first" name="sobrenome" placeholder="sobrenome" />

        </div>

        <div class="input-group mb-3">
         
          <select (change)="escolhe_fluxo()" [(ngModel)] ="selecionar" class="custom-select mr-sm-2" id="inlineFormCustomSelect" id="sele" placeholder="Escolha o Fluxo">
            <option *ngFor= "let fluxo of this.lista_fluxo" value="{{fluxo.nome}}">{{fluxo.nome}}</option> 
          </select>
        </div>
      </div>

    </div>
  </div>
</div>