<ion-header>
  <ion-toolbar>
    <ion-title>triagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="nome" placeholder="Nome">
      <input type="text" class="form-control" [(ngModel)]="cpf" placeholder="CPF">
      <i class="fas fa-camera fa-xs"></i>
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">CADE</label>
      <select (change)="escolhe_fluxo()" [(ngModel)] ="selecionar" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option  id="select" selected>Escolha o fluxo.</option>
        <option *ngFor= "let fluxo of this.lista_fluxo" value="{{fluxo.nome}}">{{fluxo.nome}}</option> 
      </select>
    </div>
  </div>
</ion-content>
