<div class="container">
  <div class="d-flex justify-content-center h-100">
        <div class="card"> 
              <div class="fadeIn first"></div>
              <div class="card-header">
                    <div class="text-white"  class="d-flex justify-content-center"  class="fadeIn first" >
                          <h4>Bem vindo Sr.ᵃ </h4>
                    </div>
              </div>
              <div class="card-body">
                    <div class="fadeIn second">
                          <a class="btn btn-block btn btn-danger" data-toggle="modal" data-target="#mymodal"
                                (click)="triagem()">
                                <i class="fas fa-notes-medical fa-lg"></i><br><br>
                                <span><i class="fa fa-plus-circle "></i>
                                      Triagem</span></a>
                    </div>

                    <div  class="fadeIn third">
                          <a class="btn btn-block btn  btn-success" data-toggle="modal" data-target="#mymodal"
                          (click)="historico()">
                                <i class="fas fa-history fa-lg"></i> <br><br>
                                <span><i class="fa fa-edit"></i>
                                      Historico
                                      medico</span></a>
                    </div>

                    <div class="fadeIn fourth">
                          <a class="btn btn-block btn btn-primary" data-toggle="modal" data-target="#mymodal"
                          (click)="fila()">
                                <i class="fa fa-users fa-lgfa-lg"></i> <br><br>
                                <span><i class="fas fa-hourglass-half fa-spin"></i> Fila de
                                      Pacientes</span></a>
                    </div>
                    <div>&nbsp;</div>
              </div>

        </div>
  </div>
</div>