.item1{
    width: 100%;
    background-color: aquamarine;
}
.item2{
    width: 100%;
    height: 90px;
    background-color: cornflowerblue;
}
.item3{
    width: 100%;
    background-color: darkorchid;
}