.myForm {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: #0d0d0d;
    padding: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    height: 30%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}
input:focus {
    background-color:rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid #5fbae9;
}

.br-15 {
    border-radius: 10px 0 0 10px !important;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: #0d0d0d;
    width: 100%;
    height: 100%;
}

#add_more {
    color: white !important;
    background-color: #fa8231 !important;
    border-radius: 15px !important;
    border: 0 !important;
}
#remove_more {
    color: white !important;
    background-color: #fc5c65 !important;
    border-radius: 15px !important;
    border: 0 !important;
    display: none;
}

.voltar_btn {
    border-radius: 15px !important;
    background-color: #95c714 !important;
    border: 0 !important;
}
