<dvi class="container h-100">
	<div class="d-flex justify-content-center">
		<div class="card mt-5 col-md-4 animated bounceInDown myForm">
    
      <div class="card-header">
				<h4>Fila de espera</h4>
			</div>
    
      <div class="card-body">

				<form>
					<div id="dynamic_container">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text br-15"><i class="fas fa-address-book"></i></span>
							</div>
							<input type="text" placeholder="Nome" class="form-control"/>
            </div>
            
            <div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text br-15"><i class="fas fa-exclamation-triangle"></i></span>
							</div>
							<input type="email" placeholder="Classificação de risco" class="form-control"/>
						</div>

						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text br-15"><i class="fas fa-user-clock"></i></span>
							</div>
							<input type="text" placeholder="Posição para atendimento" class="form-control"/>
						</div>
				
					</div>
				</form>
      </div>
      
			<div class="card-footer">
        
        <a class="btn btn-secondary btn-sm" id="add_more"><i class="fas fa-plus-circle"></i> Mais</a>
        
        <a class="btn btn-secondary btn-sm" id="remove_more"><i class="fas fa-trash-alt"></i> Remove</a>
        
				<button class="btn btn-success btn-sm float-right voltar_btn"><i class="fas fa-arrow-alt-circle-right"></i> Voltar</button>
      
      </div>
		</div>
	</div>
	</dvi>