<ion-app>
  <ion-fab slot="fixed">
    <ion-fab-button (click)="abrir_side_menu()" color="dark" style="--border-radius: 0px;" size="small"><ion-icon name="menu-outline"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-menu side="start" menuId="first" content-id="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="fechar_side_menu()" routerLink="/modalt">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <div>&nbsp;</div>Login Enfermeiro(a) Chefe
        </ion-item>
        <ion-item (click)="fechar_side_menu()" routerLink="/menu"> 
          <ion-icon name="list-outline"></ion-icon>
          <div>&nbsp;</div>Menu
        </ion-item>
        <ion-item  (click)="fechar_side_menu()" routerLink="/triagem">
          <ion-icon name="medkit-outline"></ion-icon>
          <div>&nbsp;</div>Triagem
        </ion-item>
        <ion-item (click)="fechar_side_menu()" routerLink="/historico">
          <ion-icon name="document-text-outline"></ion-icon>
          <div>&nbsp;</div>Historico
        </ion-item>
        <ion-item (click)="fechar_side_menu()" routerLink="/fila">
          <ion-icon name="people-outline"></ion-icon>
          <div>&nbsp;</div>Fila
        </ion-item>
        <ion-item (click)="fechar_side_menu()" routerLink="/login">
          <ion-icon name="log-out-outline"></ion-icon>
          <div>&nbsp;</div>Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>