<div class="wrapper">
  <div id="formContent">



    <div class="card-header">
      <div class="text-white" class="d-flex justify-content-center" class="fadeIn first">
        <h4> Historico Medico</h4>
      </div>
    </div>
    

    <table class="table">

      <thead>
      
        <tr>
            <th colspan="4" id="bor">
            <div id="divBusca" id="icon"><i class="fas fa-search-plus fa-lg" >
              <input type="text" id="txtBusca" placeholder="Buscar..." class="zoom1" /></i>
            </div>
          </th>
        </tr>

        <tr>
          <th scope="col" id="bor">Nome:</th>
          <th scope="col" id="bor">Cpf:</th>
          <th scope="col" id="bor">Classificação:</th>
          <th scope="col" id="bor">Data:</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Bruno</td>
          <td>000.000.000-00</td>
          <td>Vermelha</td>
          <td>02/02/20</td>
        </tr>
      
      </tbody>
    </table>

  </div>
</div>
