<ion-content  menu="first">
</ion-content>

<div class="wrapper">
  <div id="formContent">



    <div class="card-header">
      <div class="text-white" class="d-flex justify-content-center" class="fadeIn first">
        <h4> Consulta de usuarios: </h4>
      </div>
    </div>
    

    <table class="table">

      <thead>
      
        <tr>
            <th colspan="4" id="bor">
            <div id="divBusca" id="icon">
              <input type="text" id="txtBusca" placeholder="Buscar..." />
              </div>
          </th>
        </tr>

        <tr>
          <th scope="col" id="bor">login:</th>
          <th scope="col" id="bor">Nome:</th>
          <th scope="col" id="bor">Editar:</th>
          <th scope="col" id="bor">Apagar:</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>EnfBruno</td>
          <td>Bruno</td>
          <td><i class="fas fa-edit fa-lg"></i></td>
          <td><i class="fas fa-user-times fa-lg"></i></td>
        </tr>
      
      </tbody>
    </table>

  </div>
</div>
