

<ion-content  menu="first">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div>
        <div class="card-header">
          <div class="text-white" class="d-flex justify-content-center" class="fadeIn first">
            <h4>Fluxo de {{this.fluxo}} </h4>


          </div>
        </div>
        <div>&nbsp;</div>
        <form>
          <fieldset>
            <legend>Marque o nivel de dor de 0 a 10</legend>
            <div>&nbsp;</div>
            <div class="btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(0,verde)" id="butver">0</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(1,verde)" id="butver">1</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(2,verde)" id="butver">2</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(3,verde)" id="butver">3</button>

              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(4,amarelo)" id="butama">4</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(5,amarelo)" id="butama">5</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(6,laranja)" id="butlar">6</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(7,laranja)" id="butlar">7</button>

              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(8,laranja)" id="butlar">8</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(9,vermelho)" id="butverm">9</button>
              <button type="button" name="escala_dor" class="btn btn-secondary" (click)="resgata_dor(10,vermelho)" id="butverm">10</button>
            </div>
          </fieldset>

          <div>&nbsp;</div>
          <fieldset>
            <legend>Sintomas: </legend>

            <div>&nbsp;</div>

            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-sm selecione_btn" expand="block"
                (click)="showModal()">Selecione
                os Sintomas: </button>
            </div>

            <div>&nbsp;</div>

            <div id="exibir" class="d-flex justify-content-center" rows="5" cols="20">
              <h5>{{this.recupera_sintoma}}</h5>
            </div>

            <div>&nbsp;</div>
          </fieldset>

          <div>&nbsp;</div>

          <fieldset>
            <legend>Observações importantes:</legend>
            <div>&nbsp;</div>

            <textarea [(ngModel)]="observacoes" id="story" name="story" rows="5" cols="33">
             </textarea>

          </fieldset>
          <div>&nbsp;</div>
          <div id="formFooter" class="fadeIn fourth">
            &nbsp;&nbsp;
            <button type="button" (click)="getData()" class="btn btn-outline-warning btn finalizar_btn"> Finalizar </button>&nbsp;&nbsp;
            <button class="btn btn-outline-danger btn finalizar_btn" type="reset">limpar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>